body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('assets/background.jpg');
    background-size: cover;
}

.hero-image{
    animation: 2s ease both infinite header-boing;
}

main {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    max-width: 66rem;
    margin: 0 auto;
}

main a {
    background-color: hsla(0, 0%, 100%, 0.5);
    backdrop-filter: blur(1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5rem 5rem 0;
    padding: 1rem;
    border: 0.5rem solid transparent;
    color: #0000ff;
}

main a img {
    height: 5rem;
    width: auto;
    margin-bottom: 1rem;
}

main a:hover {
    border-color: aqua;
}


@keyframes header-boing {
    0% {
        transform: translateX(-10rem) scaleX(80%);
    }
    25% {
        transform: none;
    }
    50% {
        transform: translateX(10rem) scaleX(80%);
    }
    75% {
        transform: none;
    }
    100% {
        transform: translateX(-10rem) scaleX(80%);
    }
}
