@font-face {
    font-family: mono;
    src: url('DejaVuSansMono.ttf');
}

body {
  background-color: #000;
  box-sizing: border-box;
  font-family: mono;
}

.content {
  border-style: solid;
  border-width: 0.1rem;
  border-color: #76ff03;
  bottom: 15vw;
  color: #e2f1f8;
  font-family: mono;
  left: 10vw;
  padding: 1rem;
  position: absolute;
  right: 10vw;
  top: 15vw;
}

strong {
  color: #76ff03;
}

.input {
  background-color: inherit;
  border: 0;
  color: #e2f1f8;
  font-family: mono;
  font-size: 1rem;
  height: 1rem;
  line-height: 1rem;
  outline: none;
}

.output {
  box-sizing: border-box;
  margin-bottom: -1rem;
  max-height: 100%;
  overflow: hidden;
  padding-bottom: 1rem;
  width: 100%;
}

.output p {
  margin: 0;
  white-space: pre-wrap;
}

@media screen and (max-width: 480px) {
  .content {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }
}
